# version: '3.8'
services:
  presidio-analyzer:
    image: mcr.microsoft.com/presidio-analyzer:latest
    container_name: presidio-analyzer
    ports:
      - "3000:3000"
    environment:
      - ANALYZER_LOG_LEVEL=INFO

  presidio-anonymizer:
    image: mcr.microsoft.com/presidio-anonymizer:latest
    container_name: presidio-anonymizer
    ports:
      - "3001:3001"
    environment:
      - ANONYMIZER_LOG_LEVEL=INFO

  subagent:
    build: ./claude_subagent
    container_name: claude_subagent
    ports:
      - "5000:5000"
    environment:
      - SUBAGENT_PORT=5000
    depends_on:
      - presidio-analyzer
      - presidio-anonymizer
